* {
	margin: 0;
	padding: 0;
}

@keyframes blink {
	0% {
		opacity: 0.1;
	}
	20% {
		opacity: 1;
	}
	100% {
		opacity: 0.1;
	}
}

.back {
	background-color: rgb(36, 46, 65);
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.thembeautifuleyes {
	display: flex;
	background-color: rgb(36, 46, 65);
	justify-content: flex-end;
	width: 100%;
}

.title {
	font-size: 5em;
	font-family: monospace;
	color: rgb(45, 83, 155);
}

.donkeytron {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 50em;

	position: fixed;
	left: -100px;
	top: 25%;
	animation-name: donkeyfloat;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

@keyframes donkeyfloat {
	0% {
		top: 200px;
	}
	50% {
		top: 170px;
	}
	100% {
		top: 200px;
	}
}

.donkeyoff {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 50em;

	position: fixed;
	left: -100px;
	top: 25%;
	animation-name: donkeyfloat;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	opacity: 0%;
}


.donkeytron:hover {
	visibility: hidden;
}

.donkeyoff:hover {
	opacity: 100%;
}


.evilbot{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 50em;

	position: fixed;
	left: -100px;
	top: 25%;
	animation-name: donkeyfloat;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	/*opacity: 0%;*/
}

.chest {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100%;
	overflow-y: hidden;

}

.bottom {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.tummy {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(85, 130, 148);
	border-radius: 1em;
	padding: 0.5em;
	margin-bottom: 1em;
}

.nohead {
	display: flex;
	align-items: flex-start;
}

.peepee {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1em;
}

.balls {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	overflow-y: auto;
	overflow-x: hidden;
	
}

::-webkit-scrollbar {
	opacity: 0;
}

.boob1 {
	background-color: #294a6a;
	color: black;
	width: 25em;
	margin-left: auto;
	margin-bottom: 2em;
	padding: 1em;
	border-radius: 1em;
	font-family: monospace;
	font-size: 1.3em;
	color: white;
}

.boob2 {
	background-color: #000a48;
	color: black;
	width: 25em;
	margin-bottom: 3em;
	padding: 1em;
	border-radius: 1em;
	font-family: monospace;
	font-size: 1.3em;
	color: white;
}

.donkeybrain {
	background-color: #a3741d;
	color: #eee48d;
	width: 30em;
	margin-left: auto;
	padding: 1em;
	margin-right: auto;
	border-radius: 1em;
	font-family: monospace;
	font-size: 1.5em;
	text-align: center;
}

.longlongman {
	display: flex;
	width: 23em;
	height: 2.5em;
	border: none;
	padding-left: 1em;
	font-family: monospace;
	font-size: 2em;
	color: white;
	outline: none;
	background-color: rgb(85, 130, 148);
}



::-webkit-input-placeholder {
	color: rgb(215, 219, 230);
}

.cum {
	display: flex;
	justify-content: center;
	padding: 0.8em 1em;
	border: none;
	border-radius: 1em;
	font-family: monospace;
	font-size: 1.5em;
	color: white;
	background-color: rgb(71, 109, 124);
}

.cum:hover {
	background-color: rgb(64, 99, 112);
}

.cum:active {
	background-color: rgb(56, 83, 95);
}

.write-indicator {
	margin-right: 41em;
	padding: 1em;
	padding-bottom: 1em;
	color: white;
	font-family: monospace;
	width: 11em;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	background-color: rgb(71, 109, 124);
	visibility: hidden;
}
